*{
    font-size: 12pt;
    font-family: arial, sans-serif;
}

body{
    background-color: rgb(55, 137, 243);
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    padding: 10px;
    margin: auto;
    text-align: center;
}

section div{
    margin: 10px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
    margin-top: 10px;
}